#newGameSubCategoriesMainContainer {
    display: flex;
    gap: 1em;
    margin: 1em;
}

#newGameSubCategoriesMainContainer h2 {
    font: 900 30px "Roboto", sans-serif;
    color: #0e232f;
    text-align: center;
}

#newGameSubCategoriesSettingsContainer, #newGameSubCategoriesPreviewContainer {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    border: 2px solid #0e232f;
    background-color: #658a9a;
    padding: 1em;
    border-radius: 2%;
}

#newGameSubCategoriesSettingsContainer {
    width: 40%;
    justify-content: center;
}

#newGameSubCategoriesPreviewContainer {
    width: 60%;
}

#newGameSubCategoriesSettingsAddCancelButtonsContainer {
    display: flex;
    justify-content: center;
    gap: 0.5em;
}

#newGameSubCategoriesSettingsAddCancelButtonsContainer button {
    width: 120px;
    height: 40px;
    text-align: center;
    border-radius: 5%;
    font: 900 20px "Roboto", sans-serif;
}

#newGameSubCategoriesPreviewContainer > div {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5em;
    border: 2px solid #0e232f;
    background-color: #ffffff;
    padding: 1em;
    border-radius: 2%;
}

#newGameNewSubCategoryContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 120px;
    height: 120px;
    border: 2px solid #0e232f;
    border-radius: 5%;
    background-color: #658a9a;
    color: #0e232f;
    word-wrap: break-word;
    overflow-wrap: break-word;
}