#gamePageCardsEditMainContainer {
    display: flex;
    justify-content: center;
    gap: 1em;
    margin: 1em;
}

#gamePageCardsEditMainContainer h2 {
    font: 900 35px "Roboto", sans-serif;
    color: #0e232f;
    text-align: center;
}

#gamePageCardsEditMainContainer h3 {
    font: 900 25px "Roboto", sans-serif;
    color: #0e232f;
    text-align: center;
}

#gamePageCardsEditSettingsMainContainer, #gamePageCardsEditPreviewMainContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1em;
}



#gamePageCardsEditSettingsMainContainer {
    width: 40%;
}
#gamePageCardsEditSettingsMainContainer button {
    width: 120px;
    height: 40px;
    text-align: center;
    border-radius: 5%;
    font: 900 20px "Roboto", sans-serif;
}

#gamePageCardsEditPreviewMainContainer {
    width: 60%;
}

#gamePageCardsEditHeaderSettingsContainer, #gamePageCardsEditCardsSettingsContainer,
#gamePageCardsEditHeaderPreviewContainer, #gamePageCardsEditCardsPreviewContainer, #gamePageCardsEditorAddNewCardContainer {
    display: flex;
    flex-direction: column;
    border: 2px solid #0e232f;
    background-color: #658a9a;
    padding: 1em;
    border-radius: 2%;
}

#gamePageCardsEditHeaderSettingsContainer {
    height: 35%;
}

#gamePageCardsEditCardsSettingsContainer {
    height: 65%;
}

#gamePageCardsEditorChosenCardContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 1em;
    border: 2px solid #c3dae8;
    border-radius: 5%;
    padding: 1em;
    margin-bottom: 1em;
}

#gamePageCardsEditDeleteCancelButtonsContainer, #gamePageCardsEditAddDeleteNewCardContainer {
    display: flex;
    gap: 0.5em;
}

#gamePageCardsEditorChosenCardContainer .offerCard {
    cursor: text;
}

#gamePageCardsEditCurrentHeaderPreviewContainer, #gamePageCardsEditNewHeaderPreviewContainer {
    border: 2px solid #0e232f;
    background-color: #ffffff;
    padding: 1em;
    border-radius: 2%;
}

#gamePageCardsEditCurrentCardsPreviewContainer, #gamePageCardsEditNewCardsPreviewContainer {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 1em;
}

#gamePageCardsEditCurrentCardsPreviewContainer > div, #gamePageCardsEditNewCardsPreviewContainer > div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0.5em;
    border: 2px solid #0e232f;
    background-color: #ffffff;
    padding: 1em;
    border-radius: 2%;
}

#gamePageCardsEditCurrentCardsPreviewContainer > div > div {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5em;
    margin-left: 2.4em;
}

#gamePageCardsEditNewCardsPreviewContainer > div > div {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5em;
    margin-left: 2em;
}

#gamePageCardsEditCurrentCardsPreviewContainer .offerCard, #gamePageCardsEditNewCardsPreviewContainer .offerCard {
    width: 150px !important;
    height: 150px !important;
    background-color: #658a9a;
    border: 2px solid #0e232f;
}

#gamePageCardsEditNewCardsPreviewContainer .offerCard {
    cursor: text;
}

#gamePageCardsEditNewCardsPreviewContainer .card-title, #gamePageCardsEditCurrentCardsPreviewContainer .card-title {
    font: 900 20px "Roboto", sans-serif;
    color: #0e232f;
}

#gamePageCardsEditNewCardsPreviewContainer p, #gamePageCardsEditCurrentCardsPreviewContainer p {
    font: 900 15px "Roboto", sans-serif;
    color: #0e232f;
}

#gamePageCardsEditCurrentCardsPreviewContainer .offerCardActive {
    background-color: #0e232f;
    border: 2px solid #c3dae8;
}

.offerCardActive .card-title {
    color: #c3dae8 !important;
}

.offerCardActive p {
    color: #c3dae8 !important;
}