* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#adminPanelNavBarMainContainer {
    display: flex;
    justify-content: space-between;
    background-color: rgba(14,35,47,1);
}

#adminPanelNavBarFirstContainer {
    display: flex;
    justify-content: flex-start;
}


#adminPanelNavBarMainContainer button {
    border: none;
    background: none;
    font: 900 1em "Roboto", sans-serif;
    color: #c3dae8;
}

#adminPanelNavBarBackToShopContainer, #adminPanelNavBarMenuButtonContainer {
    margin-left: 1em;
}

#adminPanelNavBarSecondContainer {
    margin-right: 1em;
}


#adminPanelNavBarSecondContainer button:hover, #adminPanelNavBarMenuButtonContainer button:hover {
    text-shadow: #c3dae8 1px 0 10px;
}

#adminPanelNavBarBackToShop {
    color: #c3dae8;
    font: 900 1em "Roboto", sans-serif;
    opacity: 50%;
    transition: 0.3s;
}

#adminPanelNavBarBackToShop:hover {
    opacity: 100%;
}