#adminPanelProductsEditorModal {
    --bs-modal-width: 85%;
}

#adminPanelProductsCurrentMainContainer {
    display: flex;
    flex-direction: column;
    margin: 1em;
}

#adminPanelProductsCurrentChooseGameButton, #adminPanelProductsCurrentChooseSubButton {
    border: none;
    background-color: #0e232f;
    font-weight: 900;
    font-family: Roboto, sans-serif;
}

#adminPanelProductsCurrentTabSettingsContainer {
    display: flex;
    justify-content: flex-start;
    gap: 1em;
    margin: 1em;
}

#adminPanelGames {
    display: flex;
    flex-wrap: wrap;
    width: 33%;
    gap: 0.1em;
}

#adminPanelGames div {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #0e232f;
    height: 150px;
    width: 150px;
    text-align: center;
    font: 900 15px "Roboto", sans-serif;
}

#adminPanelProductsCurrentTabSettingsContainer .dropdown-item {
    font-weight: 900;
    background-color: #c3dae8;
    transition: 0.3s;
}

#adminPanelProductsCurrentTabSettingsContainer .dropdown-menu {
    background-color: #c3dae8;
}

#adminPanelProductsCurrentTabSettingsContainer .dropdown-item:hover {
    background-color: #37647a;
}

#adminPanelProductsCurrentTabSettingsContainer .dropdown-item:active {
    color: #c3dae8;
}

#adminPanelProductsCurrentTabContainer {
    background: #fff;
}

#adminPanelProductsCurrentTabContainer tr {
    border: 2px solid black;
    transition: 0.2s ease-out;
}

.productTableRow:hover {
    background-color: rgba(195, 218, 232, 0.5);
    cursor: pointer;
}

#adminPanelProductsCurrentTabContainer td {
    width: 100%;
    border: 2px solid black;
    padding: 1em;
}

#adminPanelProductsCurrentTabContainer th {
    border: 2px solid black;
    text-align: center;
}