#adminPanelProductsEditorModal {
    --bs-modal-width: 85%;
}

#adminPanelProductsCurrentMainContainer {
    display: flex;
    flex-direction: column;
    margin: 1em;
}

#productsEditorCreateNewButtonContainer {
    display: flex;
    justify-content: flex-end;
    margin-right: 1em;
}

#productsEditorCreateNewButtonContainer button {
    border: none;
    font: 900 20px "Roboto", sans-serif;
    color: #0e232f;
    background: none;
    padding: 0 1em;
}

#productsEditorCreateNewButtonContainer::before, #productsEditorCreateNewButtonContainer::after {
    content: "";
    background: #0e232f;
    top: 6px;
    height: 24px;
    width: 2px;
}

#adminPanelProductsCurrentChooseGameButton, #adminPanelProductsCurrentChooseSubButton {
    border: none;
    background-color: #0e232f;
    font-weight: 900;
    font-family: Roboto, sans-serif;
}

#adminPanelProductsCurrentTabSettingsContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 1em;
    margin: 1em;
}

#adminPanelProductsEditorGames {
    display: flex;
    flex-wrap: wrap;
    gap: 0.1em;
    margin-left: 1em;
}

#adminPanelProductsEditorGames div {
    height: 150px;
    width: 150px;
}

#adminPanelProductsEditorGames div:hover {
    cursor: pointer;
}

#adminPanelProductsEditorSubcategories {
    display: flex;
    flex-wrap: wrap;
    gap: 0.1em;
}

.adminPanelProductsEditorSubCtgContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 150px;
    height: 150px;
    text-align: center;
    font: 900 20px "Roboto", sans-serif;
    border: 2px solid #0e232f;
    border-radius: 2%;
    background: linear-gradient(45deg, rgba(163, 100, 237, 1) 0%, rgba(118, 100, 237, 1) 50%, rgba(80, 162, 244, 1) 100%);
    word-wrap: break-word;
}

.adminPanelProductsEditorSubCtgContainer p {
    color: #320440;
    transition: 0.3s;
    text-shadow: 0px 0px 9px rgba(15, 61, 245, 0.6);
}

.adminPanelProductsEditorSubCtgContainer:hover {
    cursor: pointer;

}

.adminPanelProductsEditorSubCtgContainer:hover p {
    font-size: 23px;
}

#adminPanelProductsCurrentTabContainer {
    background: #fff;
}

#adminPanelProductsCurrentTabContainer tr {
    border: 2px solid black;
    transition: 0.2s ease-out;
}

.productTableRow:hover {
    background-color: rgba(195, 218, 232, 0.5);
    cursor: pointer;
}

#adminPanelProductsCurrentTabContainer td {
    width: 100%;
    border: 2px solid black;
    padding: 1em;
}

#adminPanelProductsCurrentTabContainer th {
    border: 2px solid black;
    text-align: center;
}

#adminPanelProductsEditorGameListMainContainer {
    position: relative;
}

.subCtgListPopup {
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    padding: 1em;
    z-index: 2;
    width: 500px !important;
    height: auto !important;
    border: 2px solid #0e232f;
    border-radius: 2%;
    gap: 0.2em;
    background-color: #c3dae8;
}

.subCtgListPopup div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 110px !important;
    height: 110px !important;
    text-align: center;
    font: 900 15px "Roboto", sans-serif;
    background: linear-gradient(45deg, rgba(163, 100, 237, 1) 0%, rgba(118, 100, 237, 1) 50%, rgba(80, 162, 244, 1) 100%);
    word-wrap: break-word;
    border-radius: 2%;
}

.subCtgListPopup > div > p {
    text-align: center;
    margin: auto;
}