* {
    font: 900 15px "Roboto", sans-serif;
}

#homePageCardsSetNewCardMainContainer {
    display: flex;
    margin: 1em;
    justify-content: center;
    gap: 2em;
}

#homePageCardsSetNewCardMainContainer > div {
    border: 2px solid #0e232f;
    padding: 1em;
    background: #658a9a;
    border-radius: 2%;
    width: 33.33%;
}

#homePageCardsSetNewCardFormsContainer {

}

#homePageCardsSetNewCardFormsContainer h2 {
    font: 900 30px "Roboto", sans-serif;
    text-align: center;
}

#addCardForm label {
    font: 900 15px "Roboto", sans-serif;
    margin-top: 1em;
}

#homePageCardsSetNewCardUploadCreateContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

#homePageCardsSetNewCardUploadCreateContainer h2 {
    text-align: center;
    font: 900 30px "Roboto", sans-serif;
}

#homePageCardsSetNewCardCreatedPreview h2 {
    text-align: center;
    font: 900 30px "Roboto", sans-serif;
}

#homePageCardsSetNewCardCreatedPreview > .cardPosition {
    background-size: cover !important;
    background-position: center !important;
}

