.homePageCardEditorPreviewRow > .cardCol > .cardPosition {
    background-size: cover !important;
    background-position: center !important;

}

.homePageCardEditorPreviewRow > .cardCol {
    width: 80%;
}

.homePageCardEditorPreviewRow h2 {
    width: 100%;
    text-align: center;
}

.homePageCardEditorPreviewRow {
    justify-content: center;
}

