#ctgContainer {
    margin: 2em 0;
}

.ctgGame {
    padding: 0;
    font-size: 3em;
    border: 1px solid rgba(33, 37, 41, 0.5);
    filter: brightness(40%);
    background-size: cover !important;
    background-position: center !important;
    height: 30vh;
}


.ctgGame:hover {
    transition: 0.2s;
    filter: brightness(100%);
}


.ctgLink {
    display: block;
    height: 100%;
    color: white;
}

.ctgLink:hover {
    color: white;
}

