#priceEditMainContainer {
    display: flex;
    flex-direction: column;
    gap: 1em;
    text-align: center;
    margin: 1em;
}

#priceEditMainContainer h1 {
    font: 900 40px "Roboto", sans-serif;
    color: #0e232f;
}

#priceEditMainContainer > div {
    display: flex;
    gap: 1em;
    width: 100%;
}

#priceEditFormContainer {
    width: 50%;
}

#priceEditFormContainer > div {
    margin-top: 4em;
}

#priceEditPreviewMainContainer {
    display: flex;
    flex-direction: column;
    gap: 1em;
    width: 50%;
}

#priceEditPreviewMainContainer h3 {
    font: 900 25px "Roboto", sans-serif;
    color: #0e232f;
}

#priceEditFormContainer, #priceEditCurrentPricePreviewContainer, #priceEditNewPricePreviewContainer {
    display: flex;
    flex-direction: column;
    border: 2px solid #0e232f;
    background-color: #658a9a;
    padding: 1em;
    border-radius: 2%;
}

