#adminPanelSetEditCol > .container-fluid > .row > .nav-tabs {
    background-color: #0e232f;
    border-color: #0e232f;
    margin-bottom: 0 !important;
}

#adminPanelSetEditCol > .container-fluid > .row > .nav-tabs > li > button {
    background-color: #0e232f;
    color:#c3dae8;
    font-weight: bold;
    border: none;
    border-radius: 0;
}

#adminPanelSetEditCol > .container-fluid > .row > .nav-tabs > li > .active {
    background-color: #37647a;
    text-shadow: #0e232f 1px 0 10px;
}

#adminPanelSetEditCol > .container-fluid > .row > .tab-content {
    padding: 0;
}

.nextPageButton {
    font-weight: bold;
    color: #c3dae8;
    background-color: #0e232f;
    border: 2px solid rgba(33, 37, 41, 1);
}

.nextPageButton:hover {
    transition: 0.3s;
    background-color: #c3dae8;
    border-color: #c3dae8;
    color: #0e232f;
    -webkit-box-shadow: 0 0 20px 5px #0e232f;
    -moz-box-shadow: 0 0 20px 5px #0e232f;
    box-shadow: 0 0 20px 5px #0e232f;
}

.nextPageButton:active {
    background-color: #ffc107 !important;
    border-color: #ffc107 !important;
}

/*#chooseButtonsMainContainer {*/
/*    border-top: 2px solid #ffc107;*/
/*}*/

