#adminPanelDashboardMainContainer {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #50356C;
    text-shadow: 0px 0px 20px rgba(15,61,245, 1);
    font: 900 60px "Roboto", sans-serif;
}