#adminPanelStaffMainContainer {
    display: flex;
    height: 100vh;
    flex-direction: column;
    border: 2px solid #0e232f;
    border-radius: 0.5%;
    background-color: #ffffff;
    margin: 1em;
}

#adminPanelStaffMainContainer h1 {
    font: 900 40px "Roboto", sans-serif;
    color: #0e232f;
    text-align: center;
}

#adminPanelStaffTypesContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#adminPanelStaffTypesContainer h2 {
    font: 900 30px "Roboto", sans-serif;
    color: #0e232f;
    text-align: center;
}

.adminPanelStaffListContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
    width: 100%;
    padding: 1em;
    flex-direction: column;
    border: 2px solid #0e232f;
    border-radius: 2%;
    background-color: #c3dae8;
    margin: 1em;
}

.adminPanelStaffListContainer ul {
    list-style-type: none;
    padding: 0;
}

.adminPanelStaffListContainer li {
    padding: 10px 15px;
    margin: 5px 0;
    background-color: #f0f0f0;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.adminPanelStaffListContainer li:hover {
    background-color: #e0e0e0;
}

.adminPanelStaffListContainer li > div {
    display: flex;
    justify-content: space-between;
}

.adminPanelStaffListContainer button {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.adminPanelStaffListContainer button:hover {
    background-color: #0056b3;
}