#adminPanelHomePageNewWord {
    color: rgba(46,49,92,1);
}

#adminPanelHomePageEditorNewSectionsContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 4em 2em 2em 2em;
    gap: 5em;
}

.adminPanelHomePageEditorNewSection {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    border-radius: 10%;
    font: 900 60px "Roboto", sans-serif;
    color: white;
    height: 30vh;
    width: 45%;
    transition: 0.5s;
    background: linear-gradient(45deg, rgba(107,114,214,1) 0%, rgba(46,49,92,1) 100%);
    -webkit-box-shadow: 7px 10px 25px 18px rgba(107,114,214, 0.6);
    -moz-box-shadow: 7px 10px 25px 18px rgba(107,114,214, 0.6);
    box-shadow: 7px 10px 25px 18px rgba(107,114,214, 0.6);
}

.adminPanelHomePageEditorNewSection:hover {
    transform: translateY(-20px);
}

.adminPanelHomePageEditorNewSection button {
    border: none;
    background: none;
    width: 100%;
    height: 100%;
    font: 900 60px "Roboto", sans-serif;
    color: #fff;
}