#productTextEditMainContainer {
    display: flex;
    margin: 1em;
    gap: 1em;
}

#productTextEditMainContainer h2 {
    font: 900 30px "Roboto", sans-serif;
    color: #0e232f;
    text-align: center;
}

#productTextEditMainContainer h3 {
    font: 900 25px "Roboto", sans-serif;
    color: #0e232f;
    text-align: center;
}

#productTextEditSettingsContainer {
    display: flex;
    flex-direction: column;
    border: 2px solid #0e232f;
    background-color: #658a9a;
    padding: 1em;
    border-radius: 2%;
}

#productTextEditSettingsContainer {
    width: 30%;
}

#productTextEditPreviewMainContainer {
    display: flex;
    flex-direction: column;
    gap: 1em;
    width: 70%;
}


#productTextEditCurrentPreviewContainer, #productTextEditNewPreviewContainer {
    display: flex;
    flex-direction: column;
    border: 2px solid #0e232f;
    background-color: #658a9a;
    padding: 1em;
    border-radius: 2%;
}

