.defaultButton {
    font-weight: bold;
    margin: 0 0.3em;
}

.activeButton {
    background-color: #ffc107;
    border-color: #ffc107;
    font-weight: bold;
    margin: 0 0.3em;
}

.activeButton:hover {
    border-color: #ffc107;
    background-color: #ffc107;
}

.activeButton:active {
    background-color: white !important;
    color: #ffc107 !important;
    border-color: #ffc107 !important;
}

#gamesSelectButtonsContainer, #productsSelectButtonsContainer {
    display: flex;
    flex-wrap: wrap;
}