.navbarOffCanvas {
    height: 100% !important;
    border: 0 !important;
    padding: 0.8em;
}

.navbar {
    margin: 0 !important;
    padding: 0 !important;
}

#navbarToggle {
    box-shadow: 0 0 5px #ffc107;
    border: 0;
    margin: 5px 0;
    --bs-navbar-toggler-focus-width: 0;
}

#navbarToggle:hover {
    transition: 0.2s;

}

.offcanvas-body > .justify-content-end {
    justify-content: center;
    align-items: center;
    padding: 0 !important;
}

#offcanvasNavbar-expand-md {
    justify-content: center;
    align-items: center;
}

.navbarLink, #offcanvasNavbarDropdown-expand-md {
    margin: 5px 10px;
    letter-spacing: 0.1em;
    font-weight: bold;
    color: rgb(33, 37, 41);
    font-size: 20px;
    padding: 0;
}


.navbarLink:hover, #offcanvasNavbarDropdown-expand-md:hover {
    transition: 0.1s;
    color: white;
}

#navbarContainer {
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: #ffc107;
}

/*logo on the left side of navbar*/
.logo {
    width: 60px;
}


#signLink {
    margin-right: 10px;
}

#loginButton {
    width: 5em;
    color: rgb(33, 37, 41);
    font-weight: bold;
    font-size: 1.1em;
    background-color: #ffc107;
    border: 3px solid rgb(33, 37, 41);
}

#loginButton:hover {
    transition: 0.2s;
    color: white;
    border-color: white;
}

#loginButton:active {
    transition: 0.2s;
    background-color: white;
    color: #ffc107;
}

.nav-item:hover .dropdown-menu {
    transition: 1s !important;
    display: block !important;
}

@media (max-width: 767px) {
    #loginButton, #signLink {
        display: none;
    }

    .navbarCtg {
        display: none;
    }
}

.dropdown-menu {
    top: 95% !important;
    border: 3px solid rgb(33, 37, 41);

}

.dropdown-item {

    letter-spacing: 0.1em;
    font-size: 1.5em;
    font-weight: bold;
}

.dropdown-item.active {
    color: rgb(33, 37, 41);
    background: transparent;
}

.dropdown-item:hover {
    transition: 0.2s;
    background-color: rgba(255, 193, 7, 0.7);
}
