#layoutContainer {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-color: #658a9a;
}

#layoutFooter {
    width: 100%;
    flex-shrink: 0;
    background: rgb(101,138,154);
    background: linear-gradient(0deg, rgba(101,138,154,1) 87%, rgba(14,35,47,1) 100%);
}

main {
    display: flex;
    justify-content: center;
    flex: 1;
    height: 100%;
    background: rgb(14,35,47);
    background: linear-gradient(0deg, rgba(14,35,47,1) 0%, rgba(101,138,154,1) 100%);
}

#layoutMainContentContainer {
    max-width: 2000px;
}

footer > .container-fluid {
    max-width: 2000px;

}

