#newProductCheckboxesMainContainer {
    display: flex;
    flex-direction: column;
    gap: 1em;
    margin: 1em;
    text-align: center;
}

#newProductCheckboxesMainContainer h1 {
    font: 900 40px "Roboto", sans-serif;
}

#newProductCheckboxesMainContainer > div {
    display: flex;
    gap: 1em;
}

#newProductCheckboxesFormsContainer {
    width: 40%;
    display: flex;
    flex-direction: column;
    border: 2px solid #0e232f;
    background-color: #658a9a;
    padding: 1em;
    border-radius: 2%;
    text-align: center;
}

#newProductCheckboxesFormsContainer > div {
    margin-top: 4em;
}

#newProductCheckboxesFormsContainer label {
    margin-top: 0.5em;
}

#newProductCheckboxesFormsButtonsContainer {
    display: flex;
    gap: 0.5em;
    margin-top: 1em;
}

#newProductCheckboxesPreviewMainContainer {
    display: flex;
    flex-direction: column;
    gap: 1em;
    width: 60%;
    border: 2px solid #0e232f;
    background-color: #658a9a;
    padding: 1em;
    border-radius: 2%;
}

#newProductCheckboxesPreviewMainContainer h2 {
    font: 900 30px "Roboto", sans-serif;
    color: #0e232f;
    text-align: center;
}

#newProductCheckboxesFinalPreviewCheckboxesListContainer {
    display: flex;
    gap: 0.5em;
}

#newProductCheckboxesFinalPreviewSelectContainer {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

#newProductCheckboxesFinalPreviewSelectContainer button {
    width: 150px;
    margin: auto;
}