#newProductCheckboxesMainContainer {
    display: flex;
    flex-direction: column;
    gap: 1em;
    margin: 1em;
    text-align: center;
}

#newProductCheckboxesMainContainer h1 {
    font: 900 40px "Roboto", sans-serif;
}

#newProductCheckboxesMainContainer > div {
    display: flex;
    gap: 1em;
}

#newProductCheckboxesFormsContainer {
    width: 40%;
    display: flex;
    flex-direction: column;
    border: 2px solid #0e232f;
    background-color: #658a9a;
    padding: 1em;
    border-radius: 2%;
    text-align: center;
}

#newProductCheckboxesFormsContainer > div {
    margin-top: 4em;
}

#newProductCheckboxesFormsContainer label {
    margin-top: 0.5em;
}

#newProductCheckboxesFormsButtonsContainer {
    display: flex;
    gap: 0.5em;
    margin-top: 1em;
}

#newProductCheckboxesPreviewMainContainer {
    display: flex;
    flex-direction: column;
    gap: 1em;
    width: 60%;
    border: 2px solid #0e232f;
    background-color: #658a9a;
    padding: 1em;
    border-radius: 2%;
}

#newProductCheckboxesPreviewMainContainer h2 {
    font: 900 30px "Roboto", sans-serif;
    color: #0e232f;
    text-align: center;
}

#newProductCheckboxesFinalPreviewCheckboxesListContainer {
    display: flex;
    gap: 0.5em;
}

#newProductCheckboxesFinalPreviewSelectContainer {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

#newProductCheckboxesFinalPreviewSelectContainer button {
    width: 150px;
    margin: auto;
}

#newProductCheckboxesCheckboxTooltipContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5em;
}

#newProductCheckboxesCheckboxTooltipContainer input {
    width: 30px;
    height: 30px;
    margin: auto;
}

#newProductCheckboxesCheckboxTooltipContainer input:active {

}

#newProductCheckboxesCheckboxTooltipContainer input:focus {
    box-shadow: none;
}

#newProductCheckboxesTooltipContainer span {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font: 900 20px "Roboto", sans-serif;
    background-color: #658a9a;
    color: #0e232f;
    border: 2px solid #0e232f;
}

#newProductCheckboxesTooltipContainer span:hover {
    background-color: #0e232f;
    color: #658a9a;
}

#newProductCheckboxesCheckboxTooltipContainer p {
    margin: auto;
}

#newProductCheckboxesCheckboxContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5em;
}

#newProductCheckboxesCheckboxContainer input {
    width: 30px;
    height: 30px;
    margin: auto;
}

#newProductCheckboxesFinalCheckboxTooltipContainer span {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font: 900 20px "Roboto", sans-serif;
    background-color: #658a9a;
    color: #0e232f;
    border: 2px solid #0e232f;
}

#newProductCheckboxesCheckboxContainer span:hover {
    background-color: #0e232f;
    color: #658a9a;
}

#newProductCheckboxesCheckboxContainer p {
    margin: auto;
}