#advantagesEditorCurrentAdvantagePreviewContainer {
    max-width: 300px;
}

#advantagesEditorCurrentUploadPreviewContainer {
    display: flex;
    justify-content: space-between;
}

#advantagesEditorNewAdvPreviewContainer {
    max-width: 300px;
}

#advantagesEditorFinalPreviewContainer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#advantagesEditorFinalPreviewContainer .advantage-cards {
    width: 17rem;
    border-color: rgba(0, 0, 0, 0) !important;
    margin: auto;
    padding-top: 60px;
    padding-bottom: 60px;
    transition: 0.5s all;
    background: rgba(0, 0, 0, 0) !important;
}

#advantagesEditorFinalPreviewContainer .advantage-cards:hover {
    position: relative;
    opacity: 1;
    transform: scale(1.1);
}