#newProductTitleAndTextMainContainer {
    display: flex;
    margin: 1em;
    gap: 1em;
}

#newProductTitleAndTextMainContainer h3 {
    font: 900 30px "Roboto", sans-serif;
}

.newProductDividerLine {
    margin: 4em 0 4em 0;
    height: 2px;
    background: linear-gradient(90deg, rgba(255,255,255,0) 0%, #0e232f 13%, #0e232f 87%, rgba(255,255,255,0) 100%);
}

#newProductTextTitlePreviewContainer, #newProductFormsContainer {
    display: flex;
    flex-direction: column;
    width: 50%;
    border: 2px solid #0e232f;
    border-radius: 2%;
    background-color: #658a9a;
    padding: 1em;
    text-align: center;
}

#newProductTextTitlePreviewContainer {
    gap: 4em;
}

#newProductFormsContainer form {
    text-align: center;
    font-weight: bold;
    letter-spacing: 0.1em;
}

#newProductFormsContainer label {
    margin: 1em 0 1em 0;
}

#newProductTextTitlePreviewContainer p {
    font-weight: bold;
    letter-spacing: 0.1em;
    overflow-wrap: break-word !important;
}

#newProductTextTitlePreviewContainer h2 {
     font-weight: bold;
     letter-spacing: 0.1em;
     overflow-wrap: break-word !important;
 }

#newProductTextTitlePreviewContainer > div {
    border: 2px solid #0e232f;
    border-radius: 2%;
    background-color: #ffffff;
    padding: 1em;
}

