#carouselNewMainContainer {
    display: flex;
    justify-content: center;
    margin: 1em;
    gap: 1em;
}

#carouselNewSettingsContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1em;
}

#carouselNewFormsAndUploadMainContainer {
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 1em;
    padding: 1em;
    border: 2px solid #0e232f;
    background: #658a9a;
    border-radius: 2%;
    height: 450px;
    width: 400px;
}

#carouselNewFormsAndUploadMainContainer h3 {
    font: 900 25px "Roboto", sans-serif;
}

#carouselNewFormsAndUploadContainer {
    display: flex;
    flex-direction: column;
}

#carouselNewUploadContainer {
    display: flex;
    flex-direction: column;
}

#carouselNewUploadContainer input {
}

#carouselNewPicturePreviewContainer {
    display: flex;
    justify-content: center;
    margin-top: 1em;
}

#carouselNewPicturesListContainer {
    display: flex;
    gap: 1em;
}

#carouselNewPicturesListMainContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 1em;
    padding: 1em;
    border: 2px solid #0e232f;
    background: #658a9a;
    border-radius: 2%;
    height: 450px;
    width: 400px;
}

.carouselNewPicturesButtonActive {
    font: 900 15px "Roboto", sans-serif;
    color: #658a9a;
    background: #0e232f;
    border: 2px solid #0e232f;
}

.carouselNewPicturesButton {
    font: 900 15px "Roboto", sans-serif;
    color: #0e232f;
    background: #658a9a;
    border: 2px solid #0e232f;
}

.carouselNewPicturesButton:hover, .carouselNewPicturesButtonActive:hover {
    background: #0e232f;
    border-color: #0e232f;
    color: #658a9a;
}

.carouselNewPicturesButtonActive:active, .carouselNewPicturesButton:active {
    background: #0e232f !important;
    border-color: #0e232f !important;
    color: #658a9a !important;
}

#carouselNewPicturesListMainContainer h3 {
    font: 900 25px "Roboto", sans-serif;
}

#carouselNewFinalPreviewContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1em;
    border: 2px solid #0e232f;
    background: #658a9a;
    border-radius: 2%;
}
#carouselNewFinalPreviewContainer h1 {
    font: 900 40px "Roboto", sans-serif;
    color: #0e232f;
}

#carouselNewFinalPreviewContainer > .carousel > .carousel-inner > .carousel-item > .d-block {
    filter: brightness(40%);
}

.carouselNewButtonsContainer {
    display: flex;
    justify-content: center;
    gap: 2em;
}

#carouselNewCarouselPreviewContainer {
    margin: auto;
    width: 50%;
}

.carouselNewButtonsContainer button {
    margin-top: 1em;
    padding: 0 1em;
    font: 900 20px "Roboto", sans-serif;
    border-radius: 10%;
    background: #0e232f;
    color: #fff;
    transition: 0.3s;
    cursor: pointer;
}
