#carouselNewMainContainer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    margin: 1em;
}

#carouselNewSettingsContainer {
    display: flex;
    justify-content: space-around;
}

#carouselNewFormsAndUploadMainContainer {
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 1em;
    padding: 1em;
    border: 2px solid #0e232f;
    background: #658a9a;
    border-radius: 2%;
    width: 400px;
}

#carouselNewFormsAndUploadMainContainer h3 {
    font: 900 25px "Roboto", sans-serif;
}

#carouselNewFormsAndUploadContainer {
    display: flex;
    flex-direction: column;
}

#carouselNewUploadContainer {
    display: flex;
    flex-direction: column;
}

#carouselNewUploadContainer input {
}

#carouselNewPicturePreviewContainer {
    display: flex;
    justify-content: center;
    margin-top: 1em;
}

#carouselNewPicturesListContainer {
    display: flex;
    gap: 1em;
}

#carouselNewPicturesListContainer button {
    background: #37647a;
    font: 900 14px "Roboto", sans-serif;
}

#carouselNewPicturesListMainContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 1em;
    padding: 1em;
    border: 2px solid #0e232f;
    background: #658a9a;
    border-radius: 2%;
    width: 400px;
}

#carouselNewPicturesListMainContainer h3 {
    font: 900 25px "Roboto", sans-serif;
}

#carouselNewFinalPreviewContainer {
    display: flex;
    justify-content: center;
    margin-top: 1em;
}

#carouselNewFinalPreviewContainer > .carousel > .carousel-inner > .carousel-item > .d-block {
    filter: brightness(40%);
}

.carouselNewButtonsContainer {
    display: flex;
    justify-content: center;
    gap: 2em;
}

#carouselNewCarouselPreviewContainer {
    margin: auto;
    width: 50%;
}

.carouselNewButtonsContainer button {
    margin-top: 1em;
    padding: 0 1em;
    font: 900 20px "Roboto", sans-serif;
    border-radius: 10%;
    background: #0e232f;
    color: #fff;
    transition: 0.3s;
    cursor: pointer;
}
