* {
    margin: 0;
    padding: 0;
}

#advantagesNewMainContainer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

#advantagesNewSettingsContainer {
    display: flex;
}

#advantagesNewFinalPreviewContainer {
    display: flex;

}

