#adminPanelHomePageEditorCurrentSectionsContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 4em 2em 2em 2em;
    gap: 5em;
}

.adminPanelHomePageEditorCurrentSection {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    border-radius: 10%;
    font: 900 60px "Roboto", sans-serif;
    color: white;
    height: 30vh;
    width: 45%;
    transition: 0.5s;
    background-image: linear-gradient(43deg, #0e232f 0%, #658a9a 46%, #c3dae8 100%);
    -webkit-box-shadow: 7px 10px 25px 18px rgba(14, 35, 47, 0.6);
    -moz-box-shadow: 7px 10px 25px 18px rgba(14, 35, 47, 0.6);
    box-shadow: 7px 10px 25px 18px rgba(14, 35, 47, 0.6);
}

.adminPanelHomePageEditorCurrentSection:hover {
    transform: translateY(-20px);
}

.adminPanelHomePageEditorCurrentSection button {
    border: none;
    background: none;
    width: 100%;
    height: 100%;
    font: 900 60px "Roboto", sans-serif;
    color: #fff;
}