#contentSliderSettingsRow {
    flex-direction: row;
}

#contentSliderSettingsTable td {
    text-align: center;
    font-weight: bold;
}

.contentSliderSettingsLabelTooltipContainer {
    display: flex;
}

.contentSliderSettingsLabelTooltipContainer .tooltipButton {
    background: white;
    border-color: #0e232f;
}

.contentSliderSettingsLabelTooltipContainer span, p {
    margin: 0.5em 0 0 0.5em;
    font-weight: bold;
}

