#root {
  font-family: Roboto, sans-serif;
}

#root > #layoutContainer {
  padding: 0;
  margin: 0;
  width: 100%;
}

#root > #layoutContainer > body {
}

a:hover button:hover {
  cursor: pointer !important;
}

/*IMAGES-TABS*/
@media (max-width: 768px) {
  .container-fluid > .imgTab {
    max-width: 80%;
  }
}

.imgTab {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40em;
}

a {
  text-decoration: none !important;
}

.btn-close:focus,
.btn-close:focus-visible {
  box-shadow: none !important;
}

.btn-close:hover {
  transition: 0.2s;
  scale: 1.1;
}

.btn-close {
  color: #ffc107 !important;
}