.Varian {
  width: 500px;
}

#root > .container-fluid {
  padding: 0;
}

/*START OF NAVBAR STYLES*/

/*logo on the left side of navbar*/
.logo {
  width: 60px;
}

/*Button for small-sized screens*/
#scroll-button {
  color: rgb(207, 82, 10);
  border-color: rgb(207, 82, 10);
  border-width: 2px;
  transition: background 0.5s ease;
}

#scroll-button:hover  {
  background-color: lightgrey;
}



/*Login button*/
#login-button {
  text-shadow: 1px 1px 2px rgb(199, 49, 12), 0 0 1em rgb(148, 39, 13), 0 0 0.2em orangered;
  color: rgb(207, 82, 10);
  border-width: 2px;
  border-color: rgb(207, 82, 10);
  --bs-btn-hover-bg: lightgrey;
  --bs-btn-active-bg: rgb(207, 82, 10);
}

/*Navbar links*/
.navbar-link, #navbarScrollingDropdown {
  text-shadow: 1px 1px 2px rgb(199, 49, 12), 0 0 1em rgb(148, 39, 13), 0 0 0.2em orangered !important;
  letter-spacing: 0.1em !important;
  color: rgb(207, 82, 10) !important;
  font-weight: bold !important;
  padding-right: 40px !important;
  font-size: large !important;
}

/*Settings for Categories menu*/
.nav-item > .dropdown-menu {
  --bs-dropdown-link-active-bg: rgb(207, 82, 10);
  text-shadow: 1px 1px 2px rgb(199, 49, 12), 0 0 1em rgb(148, 39, 13), 0 0 0.2em orangered;
  border-color: rgb(207, 82, 10);
  border-width: 2px;
  background-color: rgba(0, 0, 0, 0.3);
}

/*Dropdown menu animation*/
@media (min-width: 576px) {
  .nav-item > .dropdown-menu {
    opacity: 0;
    display: block;
    transition: all 0.3s;
  }

  .dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
    opacity: 1;
  }
}

  /*Elements of dropdown menu*/
.navbar-dropdown {
  color: rgb(207, 82, 10) !important;
  font-weight: inherit !important;
  transition: background 0.3s ease !important;
  border-radius: 3px !important;
}

.navbar-collapse > .me-auto {
  margin-left: auto;
}

/*#navigation-bar {*/
/*  position: fixed;   !*navbar fixed*!*/
/*}*/

/*END OF NAVBAR STYLES*/


/*START OF CAROUSEL STYLES*/

/*Text color*/
.carousel-text {
  color: whitesmoke !important;
}

/*Change brightness of images*/
.d-block {
  filter: brightness(40%)
}

/*Turn off 'arrow' control-icons*/
.carousel-control-prev-icon, .carousel-control-next-icon {
  display: none !important;
}

/*END OF CAROUSEL STYLES*/

/*START OF CARDS STYLES*/

#cards-row {
  background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(33,37,41,1) 3%);
}

#cards-header {
  padding-top: 80px;
  padding-bottom: 40px;
  color: rgb(207, 82, 10);
  text-shadow: 1px 1px 2px rgb(199, 49, 12), 0 0 1em rgb(148, 39, 13), 0 0 0.2em orangered;
  text-align: center;
}

.card-position {
  margin: auto;
  padding-bottom: 60px;
  width: 14rem;
}

.card-text {
  color: rgb(207, 82, 10);
  text-shadow: 1px 1px 2px rgb(199, 49, 12), 0 0 1em rgb(148, 39, 13), 0 0 0.2em orangered;
  letter-spacing: 0.1em;
}

.card-button {
  text-shadow: 1px 1px 2px rgb(199, 49, 12), 0 0 1em rgb(148, 39, 13), 0 0 0.2em orangered !important;
  color: rgb(207, 82, 10) !important;
  border-width: 2px !important;
  border-color: rgb(207, 82, 10) !important;
  --bs-btn-hover-bg: lightgrey !important;
  --bs-btn-active-bg: rgb(207, 82, 10) !important;
}

.card-img {
  border-radius: 50% !important;
  width: 200px !important;
  margin: auto !important;
}

.card-body {
  text-align: center;
  font-weight: bold;
}

/*END OF CARD STYLES*/


/*START OF ADVANTAGE-CARDS STYLES*/

.advantage-cards {
  width: 17rem;
  border-color: rgba(0, 0, 0, 0) !important;
  margin: auto;
  padding-top: 60px;
  padding-bottom: 60px;
  transition: 0.5s all;
  background: rgba(0, 0, 0, 0) !important;
}

.advantage-cards:hover {
  position: relative;
  opacity: 1;
  transform: scale(1.1);
}

.card-body > .advantage-card-text {
  color: rgb(125, 125, 125);
  -webkit-text-shadow: 1px 1px 1px rgba(0, 0, 0, 1);
  -moz-text-shadow: 1px 1px 1px rgba(0, 0, 0, 1);
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0);
  font-weight: bold;
  letter-spacing: 0;
}

.card-body > .advantage-card-title {
  font-weight: bold;
  font-size: x-large;
  letter-spacing: 0.1em;
  color: black;
}

.advantage-img {
  margin: auto;
  width: 100px !important;
}

/*END OF ADVANTAGE-CARDS STYLES*/

/*START OF STEPS-BLOCK STYLES*/

/*Changing color of icons*/
/*.icon-color {*/
/*  color: white;*/
/*}*/

.steps-block-col {
  text-align: center;
  padding-top: 80px;
  padding-bottom: 80px;
  transition: 0.5s all;
}

.steps-block-col:hover {
  position: relative;
  opacity: 1;
  transform: scale(1.1);
}

#steps-block-row {
  background: linear-gradient(180deg, rgba(33,37,41,1) 0%, rgba(255,255,255,1) 4%);

}

#how-do-i-start {
  text-align: center;
  padding-top: 70px;
}

.steps-text {
  padding: 60px 100px;
  color: rgb(125, 125, 125);
  -webkit-text-shadow: 1px 1px 1px rgba(0, 0, 0, 1);
  -moz-text-shadow: 1px 1px 1px rgba(0, 0, 0, 1);
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0);
  font-weight: bold;
  font-size: 1.1em;
}

/*END OF STEPS-BLOCK STYLES*/

/*START OF FOOTER STYLES*/

.footer {
  background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(33,37,41,1) 3%);
}

.payment-icons {
  padding-top: 40px;
  padding-bottom: 10px;
  padding-left: 20px;
}

.payment-icons > img {
  width: 50px;
}

/*Center text on small screens*/
@media (max-width: 576px) {
  .footer {
    text-align: center;
  }
}

.footer-titles {
  padding-top: 30px;
  padding-left: 20px;
  color: rgb(207, 82, 10);
  text-shadow: 1px 1px 2px rgb(199, 49, 12), 0 0 1em rgb(148, 39, 13), 0 0 0.2em orangered;
}

.footer-pages {
  padding-top: 20px;
  padding-left: 20px;
  color: rgb(207, 82, 10);
  text-shadow: 1px 1px 2px rgb(199, 49, 12), 0 0 1em rgb(148, 39, 13), 0 0 0.2em orangered;
}

.footer-pages > p > a {
  color: rgb(207, 82, 10);
  text-shadow: 1px 1px 2px rgb(199, 49, 12), 0 0 1em rgb(148, 39, 13), 0 0 0.2em orangered;
  text-decoration: none;
}

.footer-pages > p > a:visited {
  color: rgb(207, 82, 10);
  text-shadow: 1px 1px 2px rgb(199, 49, 12), 0 0 1em rgb(148, 39, 13), 0 0 0.2em orangered;
  text-decoration: none;
}

#all-rights {
  background-color: rgba(33,37,41);
  text-align: center;
  padding-top: 20px;
  color: rgb(207, 82, 10);
  text-shadow: 1px 1px 2px rgb(199, 49, 12), 0 0 1em rgb(148, 39, 13), 0 0 0.2em orangered;
}

#dem-line {
  border: 1px solid rgb(199, 49, 12);
  opacity: 100%;
}

/*END OF FOOTER STYLES*/