.Varian {
  width: 500px;
}

#root > .container-fluid {
  padding: 0;
}

#navigation-bar {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

/*START OF NAVBAR STYLES*/

/*logo on the left side of navbar*/
.logo {
  width: 60px;
}

/*Button for small-sized screens*/
#scroll-button {
  color: rgb(33,37,41);
  border-color: whitesmoke;
  /*color: rgb(207, 82, 10);
  border-color: rgb(207, 82, 10);*/
  border-width: 4px;
  border-radius: 20%;
  transition: background 0.5s ease;
}

#scroll-button:hover  {
  background-color: whitesmoke;
}

#scroll-button:active  {
  border-color: #ffc107;
  background-color: whitesmoke;
}

.navbar-nav-scroll::-webkit-scrollbar {
  width: 10px;
}

.navbar-nav-scroll::-webkit-scrollbar-track {
  border-radius: 10%;
  background-color: rgba(255, 255, 255, 0.3)
}

.navbar-nav-scroll::-webkit-scrollbar-thumb {
  background-color: white;
  border-radius: 10%;
}

.navbar-nav-scroll {
  cursor: grab;
}

/*Login button*/
#login-button {
  /*text-shadow: 1px 1px 2px rgb(199, 49, 12), 0 0 1em rgb(148, 39, 13), 0 0 0.2em orangered;*/
  color: rgb(33,37,41);
  font-weight: bold;
  /*color: rgb(207, 82, 10);*/
  border-width: 2px;
  border-color: rgb(33,37,41);
  /*border-color: rgb(207, 82, 10);*/
  transition: 0.1s ease;
  /*--bs-btn-active-bg: rgb(207, 82, 10);*/
}

#login-button:hover {
  transition: 0.2s;
  border-color: white;
  color: white;
  background-color: #ffc107;
}

#login-button:active {
  color: #ffc107;
  background-color: rgba(245,245,245, 1);
}

/*Navbar links*/
.navbar-link, #navbarScrollingDropdown {
  /*text-shadow: 1px 1px 2px rgb(199, 49, 12), 0 0 1em rgb(148, 39, 13), 0 0 0.2em orangered !important;*/
  letter-spacing: 0.1em !important;
  /*color: rgb(207, 82, 10) !important;*/
  font-weight: bold !important;
  padding-right: 40px !important;
  font-size: large !important;
  color: rgb(33, 37, 41) !important;
  border-radius: 10% !important;
}


.navbar-link:hover, #navbarScrollingDropdown:hover {
  transition: 0.2s;
  color: white !important;
}

/*Settings for Categories menu*/
.nav-item > .dropdown-menu {
  --bs-dropdown-link-hover-bg: rgba(245,245,245, 0.5);
  --bs-dropdown-link-active-bg: rgba(245,245,245, 1);
  /*--bs-dropdown-link-active-bg: rgb(207, 82, 10);*/
  /*text-shadow: 1px 1px 2px rgb(199, 49, 12), 0 0 1em rgb(148, 39, 13), 0 0 0.2em orangered;
  border-color: rgb(207, 82, 10);*/
  border-width: 4px;
  border-color: rgb(33,37,41);
  background-color: rgba(0, 0, 0, 0);
}

/*Dropdown menu animation*/
@media (min-width: 576px) {
  .nav-item > .dropdown-menu {
    opacity: 0;
    display: block;
    transition: all 0.3s;
  }

  .dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
    opacity: 1;
  }
}

  /*Elements of dropdown menu*/
.navbar-dropdown {
  color: rgb(33,37,41) !important;
  /*color: rgb(207, 82, 10) !important;*/
  font-weight: bold !important;
  transition: background 0.3s ease !important;
  border-radius: 3px !important;
  font-size: 1.5em;
}

.navbar-collapse > .me-auto {
  margin-left: auto;
}

/*#navigation-bar {*/
/*  position: fixed;   !*navbar fixed*!*/
/*}*/

/*END OF NAVBAR STYLES*/


/*START OF CAROUSEL STYLES*/



/*Text color*/
.carousel-text {
  color: whitesmoke !important;
}

/*Change brightness of images*/
.d-block {
  filter: brightness(40%)
}

/*Turn off 'arrow' control-icons*/
.carousel-control-prev-icon, .carousel-control-next-icon {
  display: none !important;
}

/*END OF CAROUSEL STYLES*/

/*START OF CARDS STYLES*/

@media (max-width: 768px) {
  .container-fluid > .img-tab {
    max-width: 80%;
  }
}

.img-tab {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40em;
}

#cards-row {
  background-color: rgb(33, 37, 41, 0);
  border-radius: 5% !important;
  /*background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(33,37,41,1) 3%);*/
}

.g-3 > .card-col {
  margin-bottom: 40px;
  padding: 40px 40px;  /*Set width of cards by changing padding and margin (better user row-cols-* in cards component)*/
}

.g-3 > .col > .card-position {
  color: white;
  border-top: 10px outset rgba(92,94,105,0.40) !important;
  margin: auto;
  border-radius: 10% !important;
  padding: 10px 10px 10px;
  border-color: rgb(255,193,7) !important;
}

#dota-card {
  background: linear-gradient( rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.5) ), url('https://s1.1zoom.ru/big0/358/DOTA_2_Logo_Emblem_437317.jpg');
  background-size: cover;
  background-position: center;
}

#cs-card {
  background: linear-gradient( rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.5) ), url('https://cdn.ag.ru/media/games/736/73619bd336c894d6941d926bfd563946.jpg');
  background-size: cover;
  background-position: center;
}

#hots-card {
  background: linear-gradient( rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.5) ), url('/public/backgrounds/hots.avif');
  background-size: cover;
  background-position: center;
}

#warface-card {
  background: linear-gradient( rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.5) ), url('https://cdn.kanobu.ru/articles/pics/tmp/images/2022/12/7/1c99201c-c298-4661-9ef4-c127de3b09be.webp');
  background-size: cover;
  background-position: center;
}

#lol-card {
  background: linear-gradient( rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.5) ), url('https://3dnews.ru/assets/external/illustrations/2019/05/22/987938/sm.lol_2.750.jpg');
  background-size: cover;
  background-position: center;
}

#pubg-card {
  background: linear-gradient( rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.5) ), url('https://1lag.com/wp-content/uploads/2022/10/pasted-image-0-122212%D1%81%D1%81%D0%B8-1-1024x576.png');
  background-size: cover;
  background-position: center;
}

.card-text {
  color: white;
  /*color: rgb(207, 82, 10);
  text-shadow: 1px 1px 2px rgb(199, 49, 12), 0 0 1em rgb(148, 39, 13), 0 0 0.2em orangered;*/
  letter-spacing: 0.1em;
}

#card-button > button {
  margin: auto;
}

.card-body {
  text-align: center;
  font-weight: bold;
}

.card-col {
  padding-bottom: 40px;
}

/*Style for cards when hover*/
.card-position:hover {

  box-shadow: 0 0 30px #ffc107;
  transform: scale(1.01);
}

/*END OF CARD STYLES*/


/*START OF ADVANTAGE-CARDS STYLES*/

#advantage-row {
  padding-top: 100px;
  padding-bottom: 100px;
}

.advantage-cards {
  width: 17rem;
  border-color: rgba(0, 0, 0, 0) !important;
  margin: auto;
  padding-top: 60px;
  padding-bottom: 60px;
  transition: 0.5s all;
  background: rgba(0, 0, 0, 0) !important;
}

.advantage-cards:hover {
  position: relative;
  opacity: 1;
  transform: scale(1.1);
}

.card-body > .advantage-card-text {
  color: rgb(125, 125, 125);
  -webkit-text-shadow: 1px 1px 1px rgba(0, 0, 0, 1);
  -moz-text-shadow: 1px 1px 1px rgba(0, 0, 0, 1);
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0);
  font-weight: bold;
  letter-spacing: 0;
}

.card-body > .advantage-card-title {
  font-weight: bold;
  font-size: x-large;
  letter-spacing: 0.1em;
  color: black;
}

.advantage-img {
  margin: auto;
  width: 100px !important;
}

/*END OF ADVANTAGE-CARDS STYLES*/

/*START OF STEPS-BLOCK STYLES*/

/*Changing color of icons*/
/*.icon-color {*/
/*  color: white;*/
/*}*/

.steps-block-col {
  text-align: center;
  padding-top: 130px;
  padding-bottom: 100px;
  transition: 0.5s all;
}

.steps-block-col:hover {
  position: relative;
  opacity: 1;
  transform: scale(1.1);
}

#steps-block-row {
  /*background: linear-gradient(180deg, rgba(33,37,41,1) 0%, rgba(255,255,255,1) 4%);*/

}

#how-do-i-start {
  text-align: center;
  padding-top: 100px;
}

/*Styles for text under icons "(1) (2) (3)"*/
.steps-text {
  padding: 60px 100px;
  color: rgb(125, 125, 125);
  -webkit-text-shadow: 1px 1px 1px rgba(0, 0, 0, 1);
  -moz-text-shadow: 1px 1px 1px rgba(0, 0, 0, 1);
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0);
  font-weight: bold;
  font-size: 1.1em;
}

/*END OF STEPS-BLOCK STYLES*/

/*START OF FOOTER STYLES*/


.container-fluid > .footer {
  border-radius: 5% !important;
  /*background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(33,37,41,1) 3%);*/
}

.payment-icons {
  padding-top: 40px;
  padding-bottom: 10px;
  padding-left: 20px;
}

.payment-icons > img {
  width: 50px;
}

/*Center text on small screens*/
@media (max-width: 576px) {
  .footer {
    text-align: center;
  }
}

.footer-titles {
  padding-top: 30px;
  padding-left: 20px;
  color: rgb(33,37,41);
  /*color: rgb(207, 82, 10);
  text-shadow: 1px 1px 2px rgb(199, 49, 12), 0 0 1em rgb(148, 39, 13), 0 0 0.2em orangered;*/
}

.footer-pages {
  color: rgb(33,37,41);
  font-weight: bold;
  padding-top: 20px;
  padding-left: 20px;
  /*color: rgb(207, 82, 10);
  text-shadow: 1px 1px 2px rgb(199, 49, 12), 0 0 1em rgb(148, 39, 13), 0 0 0.2em orangered;*/
}

.footer-pages > p > a {
  /*color: rgb(207, 82, 10);
  text-shadow: 1px 1px 2px rgb(199, 49, 12), 0 0 1em rgb(148, 39, 13), 0 0 0.2em orangered;*/
  text-decoration: none;
}

.footer-pages > p > a:visited {
  color: rgb(33,37,41);
  /*color: rgb(207, 82, 10);
  text-shadow: 1px 1px 2px rgb(199, 49, 12), 0 0 1em rgb(148, 39, 13), 0 0 0.2em orangered;*/
  text-decoration: none;
}

.footer-pages > p > a:hover {
  border-radius: 10%;
  background-color: #ffc107;
  box-shadow: 0 0 10px #ffc107;
}

#all-rights {
  margin-top: 40px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: rgb(255,193,7);
  /*background-color: rgba(33,37,41);*/
  text-align: center;
  padding-top: 20px;
  font-weight: bold;
  color: rgb(33,37,41);
  /*color: rgb(207, 82, 10);
  text-shadow: 1px 1px 2px rgb(199, 49, 12), 0 0 1em rgb(148, 39, 13), 0 0 0.2em orangered;*/
}

/*END OF FOOTER STYLES*/

/*START OF OFFER-BUTTON STYLES*/

.order-button, .card-main-button {
  justify-content: center;
  align-items: center;
  padding: 0 !important;
  margin: 5px 3px;
  height: 10vh;
  font-weight: bold;
  border-radius: 5%;
  color: white;
  border-color: rgba(0, 0, 0, 0);
  background-color: rgba(0, 0, 0, 0.5);
  position: relative;
  display: inline-block;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 20px;
  letter-spacing: 3px;
  overflow: hidden;
  transition: 0.2s;
}

.button-line-top {
  top: 0;
  right: 100%;
  position: absolute;
  width: 100%;
  height: 3px;
  background: linear-gradient(90deg, transparent, rgb(85, 89, 92));
}

.order-button:hover > .button-line-top {
  right: -100%;
  transition: 0.5s;
  transition-delay: 0.3s;
}

.button-line-bottom {
  bottom: 0;
  left: 100%;
  position: absolute;
  display: block;
  width: 100%;
  height: 3px;
  background: linear-gradient(270deg, transparent, rgb(85, 89, 92));
}

.order-button:hover > .button-line-bottom {
  left: -100%;
  transition: 0.5s;
  transition-delay: 0.3s;
}

.button-line-left {
  bottom: -100%;
  left: 0;
  position: absolute;
  display: block;
  width: 3px;
  height: 100%;
  background: linear-gradient(0deg, transparent, rgb(85, 89, 92));
}

.order-button:hover > .button-line-left{
  bottom: 100%;
  transition: 0.3s;
}

.button-line-right {
  right: 0;
  top: -100%;
  position: absolute;
  display: block;
  width: 3px;
  height: 100%;
  background: linear-gradient(180deg, transparent, rgb(85, 89, 92));
}

.order-button:hover > .button-line-right {
  top: 100%;
  transition: 0.3s;
}

.order-button:hover {
  color: #ffc107;
  background-color: rgb(33,37,41);
  box-shadow: 0 0 10px rgb(33,37,41), 0 0 40px rgb(33,37,41), 0 0 80px rgb(33,37,41);
  transition: 0.75s;
  transition-delay: 0.3s;
}

.order-button:active {
  transition: 0.2s;
  color: #ffc107;
  background: rgb(33,37,41);
  box-shadow: 0 0 10px rgb(33,37,41), 0 0 40px rgb(33,37,41), 0 0 80px rgb(33,37,41);
}

/* MAIN BUTTON OF CARD */
.main-button-line-top {
  top: 0;
  right: 100%;
  position: absolute;
  width: 100%;
  height: 3px;
  background: linear-gradient(90deg, transparent, #ffc107);
}

.card-main-button:hover > .main-button-line-top {
  right: -100%;
  transition: 0.5s;
  transition-delay: 0.3s;
}

.main-button-line-bottom {
  bottom: 0;
  left: 100%;
  position: absolute;
  display: block;
  width: 100%;
  height: 3px;
  background: linear-gradient(270deg, transparent, #ffc107);
}

.card-main-button:hover > .main-button-line-bottom {
  left: -100%;
  transition: 0.5s;
  transition-delay: 0.3s;
}

.main-button-line-left {
  bottom: -100%;
  left: 0;
  position: absolute;
  display: block;
  width: 3px;
  height: 100%;
  background: linear-gradient(0deg, transparent, #ffc107);
}

.card-main-button:hover > .main-button-line-left{
  bottom: 100%;
  transition: 0.3s;
}

.main-button-line-right {
  right: 0;
  top: -100%;
  position: absolute;
  display: block;
  width: 3px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #ffc107);
}

.card-main-button:hover > .main-button-line-right {
  top: 100%;
  transition: 0.3s;
}

.card-main-button {
  background-color: rgba(255, 193, 7, 0.3);
}

.card-main-button:hover {
  color: white;
  transition: 0.75s;
  transition-delay: 0.3s;
  background-color: rgba(255, 193, 7);
  box-shadow: 0 0 10px #ffc107, 0 0 40px #ffc107, 0 0 80px #ffc107;
}

.card-main-button:active {
  transition: 0.1s;
  color: #ffc107;
  background: rgb(33,37,41, 0.3);
  box-shadow: 0 0 10px rgb(33,37,41), 0 0 40px rgb(33,37,41), 0 0 80px rgb(33,37,41);
}

/*END OF OFFER-BUTTON STYLES */