#homePageCardsEditorMainContainer {
    display: flex;
    flex-direction: column;
    margin: 1em;
    border: 4px solid #0e232f;
    border-radius: 10px;
    background-color: #ffffff;
    max-width: 100%;
}

#homePageCardsEditorMainContainer > .nav-tabs {
    display: flex;
    flex-wrap: nowrap;
    background-color: #0e232f;
    overflow: hidden !important;
    margin-bottom: 0 !important;
    border-bottom: none;
}

#homePageCardsEditorMainContainer > .nav-tabs > li > button {
    background-color: #0e232f;
    color:#c3dae8;
    font-weight: bold;
    border: none;
    border-radius: 0;
    margin-left: 1em;
}

#homePageCardsEditorMainContainer > .nav-tabs > li > .active {
    background-color: #37647a;
    text-shadow: #0e232f 1px 0 10px;
}

#homePageCardsEditorCurrentMainContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1em;
}

#homePageCardsEditorCurrentAllSettingsContainer {
    display: flex;
    width: 100% !important;
    gap: 1em;
}

#homePageCardsEditorCurrentChooseEditContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1em;
    width: 50%;
}

#homePageCardsEditorCurrentChooseContainer {
    display: flex;
    flex-direction: column;
    gap: 1em;
    border: 2px solid #0e232f;
    background-color: #658a9a;
    padding: 1em;
    border-radius: 2%;
}

#homePageCardsEditorCurrentChooseContainer h2 {
    font: 900 35px "Roboto", sans-serif;
    text-align: center;
}

#homePageCardEditorChooseButtonsContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5em;
}

#homePageCardEditorChooseButtonsContainer button {
    width: 100px;
    height: 100px;
    font: 900 17px "Roboto", sans-serif;
    background: #658a9a;
    border: 2px solid #0e232f;
    color: #0e232f;
}

#homePageCardEditorChooseButtonsContainer button:hover {
    background: #0e232f;
    color: #658a9a;
}

#homePageCardEditorDeleteCancelCardsContainer {
    display: flex;
    gap: 0.5em;
}

#homePageCardsEditorSettingsContainer {
    display: flex;
    flex-direction: column;
    color: #0e232f;
    gap: 1em;
}

#homePageCardsEditorSettingsContainer h2 {
    font: 900 35px "Roboto", sans-serif;
    text-align: center;
}

#homePageCardsEditorSettingsContainer .nextPageButton {
    margin: 1em 0;
    width: 150px;
}

#homePageCardsEditorCardContentEditContainer {
    display: flex;
    flex-direction: column;
    border: 2px solid #0e232f;
    background-color: #658a9a;
    padding: 1em;
    border-radius: 2%;
}

#homePageCardsEditorButtonsEditorContainer, #homePageCardsEditorImageEditorContainer {
    display: flex;
    flex-direction: column;
    border: 2px solid #0e232f;
    background-color: #658a9a;
    padding: 1em;
    border-radius: 2%;
}

#homePageCardsEditorImageEditorContainer h4 {
    font: 900 30px "Roboto", sans-serif;
    text-align: center;
}

#homePageCardsEditorImageEditorContainer h2 {
    margin-bottom: 1em;
}

#homePageCardsEditorButtonsEditorContainer h4 {
    font: 900 30px "Roboto", sans-serif;
    text-align: center;
}

#homePageCardsEditorButtonsEditorContainer h2 {
    margin-bottom: 1em;
}

#homePageCardsEditorPreviewContainer {
    margin-left: auto;
    margin-right: auto;
    /*display: flex;*/
    /*flex-direction: column;*/
    /*justify-content: center;*/
    /*align-items: center;*/
    /*text-align: center;*/
    /*border: 2px solid #0e232f;*/
    /*background-color: #658a9a;*/
    /*padding: 1em;*/
    /*border-radius: 2%;*/
    /*width: 50%;*/
}

#homePageCardsEditorPreviewContainer > div {
    position: sticky;
    top: 30%;
    text-align: center;
    border: 2px solid #0e232f;
    border-radius: 2%;
    background-color: #658a9a;
    padding: 1em;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#homePageCardsEditorPreviewContainer > div > div {
    margin: 1em 0;
}


#homePageCardsEditorPreviewContainer h2 {
    font: 900 30px "Roboto", sans-serif;
}

#homePageCardsEditorFinalPreviewContainer {
    display: flex;
    flex-direction: column;
    border: 2px solid #0e232f;
    background-color: #658a9a;
    padding: 1em;
    border-radius: 2%;
    margin-top: 1em;
}

#homePageCardsEditorFinalPreviewContainer h2 {
    display: flex;
    flex-direction: column;
    font: 900 50px "Roboto", sans-serif;
    color: #0e232f;
    text-align: center;
}