* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#adminPanelMainMenuContainer {
    margin-top: 2em;
}

#adminPanelMainMenuContainer h1 {
    font: 900 40px "Roboto", sans-serif;
    color: #fff;
}

#adminPanelMainMenuDirectoriesContainer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 4em 2em 2em 2em;
    gap: 5em;
}

#adminPanelMainMenuDirectoriesContainer div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    font: 900 60px "Roboto", sans-serif;
    color: white;
    height: 30vh;
    width: 45%;
    transition: 0.5s;
    background-image: linear-gradient(43deg, #0e232f 0%, #658a9a 46%, #c3dae8 100%);
    -webkit-box-shadow: 7px 10px 25px 18px rgba(14, 35, 47, 0.6);
    -moz-box-shadow: 7px 10px 25px 18px rgba(14, 35, 47, 0.6);
    box-shadow: 7px 10px 25px 18px rgba(14, 35, 47, 0.6);
}

#adminPanelMainMenuDirectoriesContainer button {
    width: 100%;
    height: 100%;
    border: none;
    background: none;
    color: white;
    font: 900 60px "Roboto", sans-serif;
}

/*#0e232f*/
/*#658a9a*/
/*#c3dae8*/
/*#37647a*/

#adminPanelMainMenuDirectoriesContainer div:hover {
    transform: translateY(-20px);
}

#adminPanelMainMenuEditorContainer {

}

/*#adminPanelMainMenuEditorContainer*/
/*#adminPanelMainMenuDashboardContainer*/
/*#adminPanelMainMenuMessagesContainer*/
/*#adminPanelMainMenuToDoContainer*/