#sliderEditorMainContainer {
    display: flex;
    gap: 1em;
}

#sliderEditorMainContainer h2 {
    font: 900 30px "Roboto", sans-serif;
    color: #0e232f;
}

#sliderEditorFormsContainer {
    display: flex;
    flex-direction: column;
    width: 40%;
    border: 2px solid #0e232f;
    background-color: #658a9a;
    padding: 1em;
    border-radius: 2%;
    text-align: center;
}

#sliderEditorFormsContainer input, label {
    margin-top: 0.5em;
}

#sliderEditorSliderPreviewMainContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1em;
    width: 60%;
    text-align: center;
}

#sliderEditorSliderPreviewMainContainer > div {
    border: 2px solid #0e232f;
    background-color: #658a9a;
    padding: 1em;
    border-radius: 2%;
}